.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accountSection,
.friendsSection,
.hostSection,
.publicSection,
.privateSection {
  margin: 1rem;
}

.button {
  background: #444;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: #555;
}

.accountButton {
  border-color: yellow;
}

.friendsButton {
  border-color: lime;
}

.hostButton,
.publicButton,
.privateButton {
  border-color: white;
}
